@charset "UTF-8";
body {
  margin: 0.2px;
  background-color: bisque;
}

header {
  background-color: rgb(26, 24, 24);
}

.logo {
  border-color: rgb(26, 24, 24);
  border-radius: 50%;
  margin: 15px;
  width: 150px;
  height: 150px;
  position: relative;
}

.nav-link.active:hover {
  background-color: bisque;
  border-radius: 50%;
}

#buscar {
  width: 400px;
  height: 35px;
  border-color: bisque;
  background-color: bisque;
  position: absolute;
  top: 77px;
  left: 385px;
}

.footer1 {
  padding: 5PX;
}

.logo {
  position: relative;
}

.bi::before {
  display: inline-block;
  content: "";
  /*width: 50px;*/
  margin-left: 50PX;
  vertical-align: -0.125em;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
  background-size: 300px;
}

i {
  color: bisque;
  font-size: xx-large;
}

footer {
  background-color: rgb(26, 24, 24);
}

.parrafo {
  color: bisque;
  text-align: end;
}

main {
  background-color: bisque;
}
main img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
main .parrafo1 {
  /*background-color: bisque;*/
  background-image: radial-gradient(ellipse 700px 100px, bisque, rgba(206, 125, 26, 0.479));
  padding: 80px;
  font-family: initial;
  font-size: large;
}
main p {
  margin-left: 15%;
  width: 75%;
  height: 100%;
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "box1 box2 box3 box4" "box5 box6 box7 box8";
  padding: 20px;
  gap: 20px;
}
.products .b1 {
  grid-area: box1;
}
.products .b2 {
  grid-area: box2;
}
.products .b3 {
  grid-area: box3;
}
.products .b4 {
  grid-area: box4;
}
.products .b5 {
  grid-area: box5;
}
.products .b6 {
  grid-area: box6;
}
.products .b7 {
  grid-area: box7;
}
.products .b8 {
  grid-area: box8;
}

.product img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.product-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}
.product-content button {
  text-decoration: none;
  background-color: rgb(26, 24, 24);
  padding: 10px;
  border: 1px solid bisque;
  color: bisque;
  font-size: 14px;
  width: 100%;
  text-align: center;
}
.product-content button:hover {
  background-color: #07BC07;
  color: black;
}

.card {
  margin-left: 40%;
}

.carrito {
  display: flex;
  border: solid;
  margin-left: 15px;
  flex-direction: column;
  width: 300px;
}

.carrito h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 35px;
}

.carrito img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.precios {
  display: flex;
  border: solid;
  width: 19.75%;
  margin-left: 15px;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.precios button {
  text-decoration: none;
  background-color: rgb(26, 24, 24);
  padding: 10px;
  border: 1px solid bisque;
  color: bisque;
  font-size: 14px;
  text-align: center;
}

.titulo {
  font-family: Arial, Helvetica, sans-serif;
}

.titulo h1 {
  text-align: center;
  font-size: 40px;
}

.general {
  display: flex;
  padding: 5%;
}
.general img {
  object-fit: contain;
}

h2 {
  text-align: center;
}

.nosotros {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.inicio {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.inicio .subtitulos {
  font-weight: bold;
  text-decoration: underline;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
}
.inicio img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.inicio p {
  color: black;
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px;
}

.contactos {
  border: solid;
  padding: 15px;
}

.formulario {
  padding: 5%;
}

.nombres {
  position: relative;
  bottom: 5px;
}

.nombres input {
  width: 398px;
}

.tiendas {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  padding: 30px;
}

/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.product {
  flex: 100%;
  max-width: 25%;
  margin-bottom: 20px;
}

/*  dispositivos móviles */
@media screen and (max-width: 720px) {
  .product {
    flex: 100%;
    max-width: 34%;
  }
  .product img {
    object-fit: contain;
  }
  .columnas {
    display: flex;
    flex-direction: column;
  }
  .columna1,
  .columna2 {
    width: 100%;
  }
}
/* tablet  */
@media screen and (min-width: 769px) {
  .columnas {
    display: flex;
    flex-direction: row;
  }
  .columna1,
  .columna2 {
    width: 50%;
  }
}
/* desktop */
@media screen and (min-width: 1024px) {
  .columna1,
  .columna2 {
    width: 33.33%;
  }
}
@media screen and (max-width: 360px) {
  .general {
    display: flex;
    flex-direction: column;
  }
  .imagenes {
    order: 2;
  }
}
@media screen and (min-width: 769px) {
  .general {
    display: flex;
    flex-direction: row;
  }
  .parrafos {
    flex: 1;
    margin-left: 20px;
  }
}
.titulos {
  text-align: center;
  margin-bottom: 20px;
}

.titulo h1 {
  font-size: 2em;
}

.subtitulos {
  margin-top: 0;
}

.parrafos p {
  text-align: justify;
}

/*# sourceMappingURL=style.css.map */
