.contactos{
    border: solid;  
    padding: 15px;

}

.formulario{
    padding: 5%;
}

.nombres{
    position: relative;
    bottom: 5px;
}
.nombres input{
    width: 398px;
}

.tiendas{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    padding: 30px;

}
